profiles {

    standard {
        params.input_folder = 'input'
        params.output_folder = 'output'
        process.executor = 'local'
    }

    batch {
        params.input_folder = 's3://nf-test-simple-qc/input'
        params.output_folder = 'local_output'
        workDir = 's3://nf-test-simple-qc/work'

        process.executor = 'awsbatch'
        process.queue = 'nf_test_queue'
        executor.awscli = '/home/ec2-user/miniconda/bin/aws'

        process {
            withName: fastqc {
                container = 'quay.io/biocontainers/fastqc:0.11.8--1'
            }
            withName: multiqc{
                container = 'quay.io/biocontainers/multiqc:1.7--py_4'
            }
        }
    }
}

