// these values supersede params in the profile and are themselves
// superseded by contents of -params-file or command line args

// force dsl 1 until main.nf is updated
nextflow.enable.dsl=1

manifest {
    homePage = 'https://github.com/dhoogest/illumina_qc'
    description = 'Simple Illumina QC workflow: FastQC/InterOp/MultiQC'
    version = '1.0.0'
    name = 'illumina_qc'
}

process {
    withName: fastqc {
	container = 'quay.io/biocontainers/fastqc:0.11.9--hdfd78af_1'
    }
    withName: interop_summary {
	container = 'quay.io/biocontainers/illumina-interop:1.1.23--h1b792b2_0'
    }
    withName: multiqc {
	container = 'quay.io/biocontainers/multiqc:1.12--pyhdfd78af_0'
    }
}

profiles {
    standard {
        workDir = "work"
        resume = true  // null for no resume
        docker {
            enabled = true
        }
        process {
            executor = 'local'
        }
    }
    uw_batch {
        workDir = 's3://molmicro-data/nextflow-workdir/illumina_qc'
        process {
            scratch = "/docker_scratch"
            queue = 'molmicro-queue'
            executor = 'awsbatch'

            // allocate resources according to labels; see
            // https://www.nextflow.io/docs/latest/config.html#scope-process
            // https://www.nextflow.io/docs/latest/process.html#label
            withLabel: med_cpu_mem {
                cpus = 8
                memory = { 8.GB * task.attempt }
                errorStrategy = 'retry'
                maxRetries = 3
            }
        }
    }
}
